
				
				<div class = "inner2">
					
					<div class="image-holder ">
						<%= link_to image_tag('flavor.png', class:"img2") %>
				</div>
	<%= simple_form_for @store_flavor, html: { class: 'form-horizontal' }, remote: true do |f| %>
	  <fieldset>
	  <center><legend><%= controller.action_name.capitalize %> Store Flavor</legend></center>  

	    <%= f.input :flavor_id, :collection => @remaining_flavors  %>
	    <%= f.input :store_id, collection: Store.active.all %>

	    <div class="float-right">
	      <%= f.submit nil, :class => 'btn btn-dark' %>

      <%= link_to 'Cancel', flavors_path, :class => "btn btn-danger" %>
	    </div>
	  </fieldset>
	<% end %>
</div>

