<p>&nbsp;</p>
<p>&nbsp;</p>


<div class="inner">

    <div class = "small-6 small-offset-3 columns">
<div id = "log-in-box">
  <h2>Log In</h2>

  <%= form_tag sessions_path do %>


    	<div class="control-group">
        <b><%= label_tag :email %></b>
        <div class="controls">
          <b><%= text_field_tag :email, params[:email] %></b>
        </div>
      </div>

    	<div class="control-group">
        <b><%= label_tag :password %></b>
        <div class="controls">
          <%= password_field_tag :password%>
        </div>
      </div>

      <div class="actions"><%= submit_tag "Log In" %></div>
    </div>

  </div>

  <% end %>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>