<p>&nbsp;</p>
<p>&nbsp;</p>


<div class="inner">

  <h2>Log In </br></br>
  
  <%= image_tag "login2.png", {:style => "height:100px;"} %>
</h2>

  <%= form_tag sessions_path do %>


    	<div class="control-group">
        <b><%= label_tag :email %></b>
        <div class="controls">
          <b><%= text_field_tag :email, params[:email] %></b>
        </div>
      </div>

    	<div class="control-group">
        <b><%= label_tag :password %></b>
        <div class="controls">
          <%= password_field_tag :password%>
        </div>
      </div>

      <%= submit_tag "Log In", {:class => "btn btn-dark"} %>

  <% end %>
  
   <% if flash[:alert] %>
 <div class="alert alert-danger" role="alert"><i class="fas fa-exclamation-triangle"></i>
<%= flash[:alert] %>
</div>
 <% end %>

</div>


<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>