<head><!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

</head>

<div class="inner">
				<div class="image-holder">
						<%= link_to image_tag('store2.png', class:"img2") %>
				</div>
				
<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

		<div class="form-wrapper">
    <%= form.text_field :first_name, id: :employee_first_name, :class => "form-control", placeholder: "First Name" %>
  </div>
		<div class="form-wrapper">
    <%= form.text_field :last_name, id: :employee_last_name,:class => "form-control", placeholder: "Last Name"  %>
  </div>

		<div class="form-wrapper">
    <%= form.text_field :ssn, id: :employee_ssn, :class => "form-control", placeholder: "SSN"  %>
  </div>

		<div class="form-wrapper">
		      <%= form.label :date_of_birth %>
    <%= form.text_field :date_of_birth, id: :employee_date_of_birth, :class => "form-control", :type => "date", placeholder: "Date of Birth" %>
  </div>

		<div class="form-wrapper">
    <%= form.text_field :phone, id: :employee_phone, :class => "form-control", placeholder: "Phone" %>
  </div>

		<div class="form-wrapper">
    <%= form.text_field :role, id: :employee_role, :class => "form-control", placeholder: "Role" %>
  </div>

		<div class="form-wrapper">
    <%= form.label :active? %>
    <%= form.check_box :active, id: :employee_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>