<!-- MDBootstrap Datatables  -->
<link href="css/addons/datatables.min.css" rel="stylesheet">
<p id="notice"><%= notice %></p>



<h1 class = 'titles'>
  All Employees
<% if current_user.role? :manager %>
	at the <%= @store %> Store
<% end %>
</h1>

<table id="dtBasicExample" class="table table-hover table-sm" cellspacing="0" width="100%">  <thead>
    <tr>
      <th class="th-sm">First name</th>
      <th>Last name</th>
      <th>Ssn</th>
      <th>Date of birth</th>
      <th>Phone</th>
      <th>Role</th>
      <th>Active</th>
      <% if current_user.role? :admin %>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td> <%= link_to employee.first_name, employee %> </td>
        <td><%= employee.last_name %></td>
        <td><%= employee.ssn %></td>
        <td><%= employee.date_of_birth %></td>
        <td><%= employee.phone %></td>
        <td><%= employee.role %></td>
        <td><%= employee.active %></td>
        <% if current_user.role? :admin %>
        <td><a href = <%=  edit_employee_path(employee) %> <i class="far fa-edit"></i></a> </td>
        <td><%= link_to 'Delete', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a class = "mybtn" href = "employees/new" >New Employee</a>