      <% if current_user.role? :manager %>
<center><h1 class = 'titles'>Assignments in <%= current_user.employee.current_assignment.store.name %> Store</h1></center>

<%else%>

<center><h1>Assignments</h1></center>
<%end%>
<% if @current_assignments.empty? %>
  <p><em>There are no current assignments at this time.</em></p>
<% else %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Store</th>
      <th>Employee</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Pay level</th>
      
      <% if current_user.role? :admin %>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
      <% end %>
      
    </tr>
  </thead>

  <tbody>
		<% for assignment in @current_assignments %>
      <tr>
        <td><%= link_to assignment.store.name, store_path(assignment.store) %></td>
        <td><%=  assignment.employee.first_name  %></td>
        <td><%= assignment.start_date %></td>
        <td><%= assignment.end_date %></td>
        <td><%= assignment.pay_level %></td>
        
        <% if current_user.role? :admin %>
        <td><a href = <%=  edit_assignment_path(assignment) %> <i class="far fa-edit"></i></a> </td>
        <td><%= link_to 'Delete', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

<select class="browser-default custom-select" style="width:auto;float:right;" onchange="location = this.value;">
    <option value="" disabled selected>Filter By Date</option>
    <option value="/assignments">All </option>
  <option value="/assignments?current=true">Current </option>
  <option value="/assignments?past=true">Past</option>
</select>
<br><br>
<select class="browser-default custom-select" style="width:auto;float:right;" onchange="location = this.value;">
    <option value="" disabled selected>Order</option>
        <option value="/assignments">Default </option>
    <option value="/assignments?chronological=true">Chronologically </option>
      <option value="/assignments?by_store=true">By Store</option>
  <option value="/assignments?by_employee=true"> By Employee</option>
</select>

<br>
<a class = "btn btn-dark" href = "assignments/new" >New Assignment</a>

</div>
</br>
