<p id="notice"><%= notice %></p>

<h1 class = 'titles'>Assignments</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Store</th>
      <th>Employee</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Pay level</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= link_to assignment.store_id, assignment %></td>
        <td><%= assignment.employee_id %></td>
        <td><%= assignment.start_date %></td>
        <td><%= assignment.end_date %></td>
        <td><%= assignment.pay_level %></td>
        <td><a href = <%=  edit_assignment_path(assignment) %> <i class="far fa-edit"></i></a> </td>
        <td><%= link_to 'Delete', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a class = "mybtn" href = "assignments/new" >New Assignment</a>