<p id="notice"><%= notice %></p>
<div class="inner">
				<div class="image-holder">
						<%= link_to image_tag('whisk.jpg', class:"img2") %>
				</div>
<ul>
<br/><br/><br/>
<p>
  <strong>Store ID:</strong>
  <%= @assignment.store_id %>
</p>

<p>
  <strong>Employee ID:</strong>
  <%= @assignment.employee_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @assignment.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @assignment.end_date %>
</p>

<p>
  <strong>Pay level:</strong>
  <%= @assignment.pay_level %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
</ul>
</div>