<div class="image-holder">
	<%= link_to image_tag('flavor.png', class:"img2") %>
</div>
				
<%= form_with(model: @flavor, local: true) do |f| %>

    <legend><%= controller.action_name.capitalize %> Flavor</legend>

  <div class="form-wrapper">		     
   <%= f.label :name %>
   <%= f.text_field :name,  :class => "form-control"  %>
  </div>
  
   <div class="form-wrapper">		     
    <%= f.label :active %>
    <%= f.check_box :active %>
   </div>
  
    <div class="form-actions">
      <%= f.submit nil, :class => "btn btn-dark" %>
      <%= link_to 'Cancel', flavors_path, :class => "btn btn-danger" %>
    </div>


<% end %>