 <div class="card" >
  <div class="card-body">
    <h5 class="card-title"> <%= render partial: "#{primary}" %>
      <% unless secondary.nil? %>
      <p>&nbsp;</p>
      <%= render partial: "#{secondary}" %>
    <% end %>
    
    </h5>
    
 
  </div>
</div>

    <!-- primary partial gets displayed here in main div -->
   
    <!-- sometimes we want another partial below -->



    <!-- render the sidebar, if it exists -->
    
     
    <%= render partial: "#{sidebar}" unless sidebar.blank? %>

   
<br>
<br>
<!-- Add a button for new instances of object -->
<%= link_to(eval("new_#{model_name}_path"), class: "btn btn-dark") do %>

  Add a New <%= model_name.capitalize %>
<% end %>

<br>
<br>
