<h2>Users</h2>
<div class="page-buttons">
    <%= link_to "Add New User", new_user_path, :class => "btn btn-large" %>
</div>
<table class="display dataTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.employee.name, user_path(user) %></td>
        <td><%= mail_to user.email, user.email %></td>
        <td><%= user.role.capitalize %></td>
        <td>
          <%= link_to "Edit", edit_user_path(user), :class => 'btn btn-mini' %>
          <%= link_to "Remove", user_path(user), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
