
<div class="container">
  <div class="row">
    <div class="col-md-4">
    	<!--Card-->
    	<div class="card mb-4 box-shadow" style="height:100%">
	        <!--Image-->
	       	<%= link_to image_tag('store.jpg', class:"card-img-top") %>
	        <!--Below Image-->
	        <div class="card-body">
	        	<!--Item-Name-->
    <h3 class="card-title">Welcome to <br> A &amp; M Creamery</h3>
     <p class="card-text">	A &amp; M Creamery is a chain of the best ice-cream shops in Pittsburgh.
			We have shops in 3 states: Ohio, Pennsylvania & West Virginia.
			Our ice-cream flavors are unique and irresistible. We encourage you to visit one of our small, but aesthetically pleasing chains.
			Check out our website to learn more about us!</p>
	          <!--Affiliate Section-->
	        	<div class="d-flex justify-content-between align-items-center">
	        		
	      		</div>
	      		
          	</div>
      	</div>      	 <!--Specification Table-->
    </div>
	 <div class="col-md-4">
	   <h3>Our Stores</h3>
	 <table class="table table-responsive table-striped">
		    	<tbody>
		          <tr>
		            <% for store in @stores %>
		            
		          <th><%=  "#{store.name}"  %></th> 
		          <td><%= "#{store.street}" %> <br> <%= "#{store.city}" ", " "#{store.state}" " " "#{store.zip}" %>
		          <br>
		          <%= "#{store.phone}" %>
		          
		          </td></tr><% end %>
		         
		         
		          
		        </tbody>
		    </table>
			 </div>
  </div>
</div> 