<br/>
<div class="card" style="width: 20rem; height: auto;">
  <center><%= link_to image_tag('profile.png', :class => "card-img-top", :style => "width: 200px;") %></center>
  
  <div class="card-body">
  	
<center><h2><%= @employee.proper_name %></h2></center>
<br/>

		<p><b>Email:</b>
		 <%= @employee.user.email unless @employee.user.nil? %></p>

		<p><b>Phone:</b>
		<%= number_to_phone @employee.phone unless @employee.phone.nil? %></p>

		<p><b>Date of Birth:</b>
		<%= @employee.date_of_birth.strftime("%m/%d/%y") %></p>

		<p><b>SSN:</b>
		<%= @employee.ssn %></p>

		<p><b>Role:</b>
		<%= @employee.role.capitalize %></p>

		<p><b>Active:</b>
		<%= @employee.active ? "Yes" : "No" %></p>

		<div id = "edit-button" style="float:right;">
			<%= link_to(edit_employee_path(@employee), class: 'button radius') do %>
	        <i class="fas fa-edit" style="color:#fbc61e;"></i>
	    	<% end %>
    	</div>

	</div>
	</div>
	
	<div class="card" style="width: 20rem; height: auto;">
 	<div class="card" style="width: 20rem; height: auto;">

  
  <div class="card-body">

<% unless logged_in? and current_user.role? :admin %>
       <center><h4>Current Assignment</h4></center>

		<p><b>Store:</b> <%= @current_assgn.store.name
		%><br/>

		<b>Role:</b> <%= @employee.role.capitalize %><br/>

		<b>Pay Level:</b> <%= @current_assgn.pay_level 
		%><br/>

		<b>Start Date:</b> <%= @current_assgn.start_date.strftime("%m/%d/%y") 
		%></p>
	</div>
	
	
<div class="card" style="width: 20rem; height: auto; display:block;">
 
  
  <div class="card-body">
  	
  		<%= render partial: "employees/assignment_history"  %>
<% end %>

</div>
</div>
	</div>

</div>