<p>&nbsp;</p>
<h1> Hello, <%= @employee.first_name %></h1>
<h2><%= Date.current.strftime("%A %B %d, %Y") %></h2>	
<p>&nbsp;</p>


<div class="card" style="width: 16rem;">
  <%= link_to image_tag('Nico.jpg', class:"card-img-top") %>
  
  <div class="card-body">
  	<%= link_to(new_employee_path, :class => 'btn btn-dark') do %>
		Add New Employee
		<% end %>
  </div>
</div>

<div class="card" style="width: 16rem;">
	</br>	</br>
  <%= link_to image_tag('store.jpg', :class => "card-img-top") %>
  </br>	</br> </br>

  <div class="card-body">
  	<%= link_to(new_store_path, :class => 'btn btn-dark') do %>
						Add New Store
					<% end %>
  </div>
</div>



<div class="card" style="width: 50rem;">
	
  <div class="card-body">
  	<%= render 'stores/active_stores' %>
  </div>
</div>


<div class="card" style="width: 16rem;">
  <div class="card-body">
  <%= render 'flavors/active_flavors' %>
  </div>
</div>

<div class="card" style="width: 16rem;">
  <div class="card-body">
  		<h3>Active Jobs</h3>
<%= render 'jobs/active_jobs' %>
</div>
</div>
