<p>&nbsp;</p>
<h1> Hello, <%= @employee.first_name %></h1>
<h2><%= Date.current.strftime("%A %B %d, %Y") %></h2>
<h3><%= @store.name unless @store.nil? %></h3>	
<p>&nbsp;</p>



<div class="row">

	<div class="small-4 columns">
		<h3>Today's Shifts</h3>
	</div>

  	<div class="small-8 columns">

		<% if @today_shifts.empty? %>
		  <p><em>There are no shifts scheduled for today.</em></p>
		<% else %>
		  <table class="table table-striped">
		    <thead>
		      <tr>
		        <th>Employee</th>
		        <th>Start Time</th>
		        <th>End Time</th>
		        <th>Phone</th>
		        <th>&nbsp;</th>


		      </tr>
		    </thead>
		    <tbody>
		      <% @today_shifts.each do |shift| %>
		      
		        <tr>
		          <td><%= link_to shift.assignment.employee.proper_name, employee_path(shift.assignment.employee) %></td>
		          <td><%= shift.start_time.localtime.strftime("%I:%M %p") %></td>
		          <td><%= shift.end_time.localtime.strftime("%I:%M %p") %></td>
				  <td><%= number_to_phone shift.assignment.employee.phone unless shift.assignment.employee.phone.nil?  %></td>
		          <%if shift.end_time.localtime.strftime("%I:%M %p") < Time.now.strftime("%I:%M %p") %>
			          <td>
			          	<div id = "add-button">
				            <%= link_to(shift_path(shift), class: 'button tiny radius warning') do %>
				              &nbsp;Add Jobs&nbsp;
				            <% end %>
			        	</div>
	          		  </td>
	          	  <% else %>
	          	       <td>&nbsp;</td>
			      <% end %>
		        </tr>
		      <% end %>
		    </tbody>
		  </table>
		<% end %>
		
	</div>

	<p>&nbsp;</p>

	<div class="small-4 columns">
		<h3>Current Assignments</h3>
	</div>

	<div class="small-8 columns">
		<% state = "current" %> 

		<% if @assignments.empty? %>
		  <p><em>There are no <%= state %> assignments at this time.</em></p>
		<% else %>

		  <table class="table table-striped">
		    <thead>
		      <tr>
		        <th>Employee</th>
		        <th>Phone</th>
		        <th class="centered">Role</th>
		        <th>&nbsp;</th>

		      </tr>
		    </thead>
		    <tbody>
		      <% @assignments.each do |assignment| %>
		        <tr>
		          <td><%= link_to assignment.employee.name, employee_path(assignment.employee) %></td>
		          <td><%= number_to_phone assignment.employee.phone unless assignment.employee.phone.nil?  %></td>
		          <td class="centered"><%= assignment.employee.role.capitalize %></td>
		          
		          	<% if assignment.employee.role? :employee or assignment.employee == current_user.employee %>
		          	<td><div id = "view-jobs-button">
			            <%= link_to(assignment_path(assignment), class: 'button tiny radius warning') do %>
			              &nbsp;Add Shift&nbsp;
			            <% end %></td>
		        	</div>
		        	<% else %>
		        		<td>&nbsp;</td>
		        	<% end %>
	          	  
		        </tr>
		      <% end %>
		    </tbody>
		  </table>
		<% end %>
	</div>

	<p>&nbsp;</p>
	

	<div class="small-4 columns">
		<h3>Flavors Offered</h3>
	</div>
  
    <div class="small-8 columns">
	  <%= render 'stores/list_of_flavors' %>

	  <div id = "add-button">
		  <%= link_to(new_store_flavor_path(store_id: @store), id: 'new_store_flavor_link', class: 'button tiny radius', remote: true) do %>
		    Add New Flavor
		  <% end %>
		</div>
	</div>
	
</div>
