<p>&nbsp;</p>

<div class="row">

	<div class="small-4 columns">
	<h3>Today's Shifts</h3>
	</div>
	
	<div class="small-8 columns">

		<% unless @today_shifts.nil? or @today_shifts.empty? %>
			<table class="table table-striped">
			    <thead>
			      <tr>
			        <th>Date</th>
			        <th>Start Time</th>
			        <th>End Time</th>
			        <th>&nbsp;</th>
			      </tr>
			    </thead>
			    <tbody>
			      <% @today_shifts.each do |shift| %>
			        <tr>
			          <td><%= shift.date.strftime("%m/%d/%y") %></td>
			          <td><%= shift.start_time.localtime.strftime("%I:%M %p") %></td>
			          <td><%= shift.end_time.localtime.strftime("%I:%M %p") %></td>
			          <% if Time.now.strftime("%H:%M %p") > shift.end_time.strftime("%H:%M %p") %>
				          <td>
				          	<div id = "view-jobs-button">
				            <%= link_to(shift_path(shift), class: 'button tiny radius warning') do %>
				              &nbsp;View Jobs&nbsp;
				            <% end %>
				        	</div>
		          		  </td>
	          		  <% else %>
			        	 	<td>&nbsp;</td>
	          		  <% end %>

			        </tr>
			      <% end %>
			    </tbody>
		  </table>
	  <%= will_paginate @today_shifts, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next", param_name: "today_shifts" %>  

	  <% else %>
	  <p>You have no shifts today.</p>
	  <% end %>

	 </div>

	 <p>&nbsp;</p>

	<div class="small-4 columns">
		<h3>Past Shifts</h3>
	</div>

	<div class="small-8 columns">
		<table class="table table-striped">
		    <thead>
		      <tr>
		        <th>Date</th>
		        <th>Start Time</th>
		        <th>End Time</th>
		        <th>&nbsp;</th>

		      </tr>
		    </thead>
		    <tbody>
		      <% @past_shifts.each do |shift| %>
		        <tr>
		          <td><%= shift.date.strftime("%m/%d/%y") %></td>
		          <td><%= shift.start_time.localtime.strftime("%I:%M %p") %></td>
		          <td><%= shift.end_time.localtime.strftime("%I:%M %p") %></td>
		          <% if shift.completed? %>
			          <td>
			          	<div id = "view-jobs-button">
			            <%= link_to(shift_path(shift), class: 'button tiny radius warning') do %>
			              &nbsp;View Jobs&nbsp;
			            <% end %>
			        	</div>
	          		  </td>
	          	  <% else %>
	          	  	<td>&nbsp;</td>
          		  <% end %>


		        </tr>
		      <% end %>
		    </tbody>
	  </table>
	  <%= will_paginate @past_shifts, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next", param_name: "past_shifts" %>  
	 </div>

	 <p>&nbsp;</p>


	<div class="small-4 columns">
	<h3>Upcoming Shifts</h3>
	</div>

	 <div class="small-8 columns">
	  <% unless @upcoming_shifts.empty? %>
		<table class="table table-striped">
		    <thead>
		      <tr>
		        <th>Date</th>
		        <th>Start Time</th>
		        <th>End Time</th>
		      </tr>
		    </thead>
		    <tbody>
		      <% @upcoming_shifts.each do |shift| %>
		        <tr>
		          <td><%= shift.date.strftime("%m/%d/%y") %></td>
		          <td><%= shift.start_time.localtime.strftime("%I:%M %p") %></td>
		          <td><%= shift.end_time.localtime.strftime("%I:%M %p") %></td>
		        </tr>
		      <% end %>
		    </tbody>
	  	</table>
	  <%= will_paginate @upcoming_shifts, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next", param_name: "upcoming_shifts" %>  
	  </div>

	  <%else%>
	  	<p>You have no upcoming shifts.</p>
	  <% end %>
	 </div>


	 

</div>