<p>&nbsp;</p>
<h1> Hello, <%= @employee.first_name %></h1>
<h2><%= Date.current.strftime("%A %B %d, %Y") %></h2>	
<p>&nbsp;</p>
<p>&nbsp;</p>

<div >

	<h3>TODAY'S SHIFTS</h3>
	<div class = "small-8 small-offset-3 columns">

		<% unless @today_shifts.nil? or @today_shifts.empty? %>	
		<table class="table table-striped">
		    <thead>
		      <tr>
		        <th>DATE</th>
		        <th>START TIME</th>
		        <th>END TIME</th>
		        <th>&nbsp;</th>
		        <th>&nbsp;</th>

		      </tr>
		    </thead>
		    <tbody>
		      <% @today_shifts.each do |shift| %>
		        <tr>
		          <td><%= shift.date.strftime("%m/%d/%y") %></td>
		          <td><%= shift.start_time.localtime.strftime("%I:%M %p") %></td>
		          <td><%= shift.end_time.localtime.strftime("%I:%M %p") %></td>
		          <td>
		          <div id = "start_shift_button">
		            <%= link_to(start_shift_path(shift), method: :patch, class: 'button tiny radius warning') do %>
		              &nbsp;START&nbsp;
		            <% end %>
		          </div>
	      		  </td>

	      		  <td>
		          <div id = "end_shift_button">
		            <%= link_to(end_shift_path(shift), method: :patch, class: 'button tiny radius warning') do %>
		              &nbsp;END&nbsp;
		            <% end %>
		          </div>
	      		  </td>

		        </tr>
		      <% end %>
		    </tbody>
	  </table>
	  <% else %>
	  <p><b>You do not have any shifts scheduled for today </p></b>
	  <% end %>


	</div> 
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>