<br/>
<h2>Future Shifts</h2>	

	<div class="row">

	<div class="small-12 small-offset-3 columns">

		<table class="table table-striped">
		    <thead>
		      <tr>
		        <th>Employee</th>
		        <th>Date</th>
		        <th>Start time</th>
		        <th>&nbsp;</th>
		        <th>&nbsp;</th>
		      </tr>
		    </thead>
		    <tbody>
		      <% @future_shifts.each do |shift| %>
		        <tr>
		          <td><%= link_to shift.assignment.employee.name, employee_path(shift.assignment.employee) %></td>
		          <td><%= shift.date %></td>
		          <td><%= shift.start_time.strftime("%I:%M %p") %></td>
		          <td>
		          	<%= link_to(image_tag("edit.gif"), edit_shift_path(shift)) %>
          		  </td>
          		   <td>
          		   	<%= link_to(image_tag("trash.gif"), shift_path(shift), method: 'delete', data: {confirm: "Are you sure you want to permanently delete this shift?"}) %>

          		  </td>
		        </tr>
		      <% end %>
		    </tbody>
	  </table>
	  <%= will_paginate @future_shifts, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next", param_name: "future_shifts" %>  
	 </div>
	</div>