<h2>Welcome back, <%= current_user.employee.proper_name %></h2>

<div class="row">
<div class="span6">
  <h3>Store Employees</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Hours Worked</th>
        <th>Last Shift</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @employee.each do |emp| %>
        <tr>
          <td><%= link_to emp.employee.proper_name, employee_path(emp.employee) %></td>
          <td><%= @employeeHours[emp.id] %></td>
          <td><%= temp = emp.shifts.compact.sort_by{|shift| shift.date}.reverse.first;temp.date.strftime("%m/%d/%y") unless temp.nil?%></td>
          <td>
            <div class="btn-group">
            <%= link_to raw("<i class='icon-plus'></i> New Shift"), new_shift_path(:id => emp.id), :class => 'btn btn-mini'  %>&nbsp;&nbsp;
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @employee, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</div>
<div class="span6">
  <h3>Unrecorded Shifts</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Employee</th>
        <th>Shift Time</th>
        <th>Edit/Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @incomplete.each do |shift| %>
      <tr>
        <td><%= link_to shift.employee.proper_name, employee_path(shift)%></td>
        <td><%= shift.date.strftime("%m/%d/%y") + " " +shift.start_time.strftime("%I:%M %p")%></td>
        <td>
        <div class="btn-group">
          <%= link_to raw("<i class='icon-pencil icon-white'></i>"), edit_shift_path(shift), :class => 'btn btn-mini btn-warning'%>
          <%= link_to raw("<i class='icon-remove icon-white'></i>"), shift_path(shift), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger'%>
        </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>

<div class="row">
  <%= render :partial => 'shared/calendar' %>
</div>

<div class="form-actions">
  <%= link_to raw("<i class='icon-plus icon-white'></i> New Job"), new_job_path, :class => 'btn btn-primary'  %>&nbsp;&nbsp;
  <%= link_to raw("<i class='icon-plus icon-white'></i> New Shift"), new_shift_path, :class => 'btn btn-primary'  %>&nbsp;&nbsp;
</div>