<br/>
<h2>Past Shifts</h2>	
<br/>
	<div>

	<div class="small-4 columns">
		<h4>INCOMPLETE SHIFTS</h4>
	</div>

	 <div class="small-8 columns">
		<% if @past_shifts_i.empty? %>
  <p><em>There are no incomplete shifts at this time.</em></p>
<% else %>
		
		<table class="table table-striped">
		    <thead>
		      <tr>
		        <th>Employee</th>
		        <th>Date</th>
		        <th>Start time</th>
		        <th>&nbsp;</th>
		        <th>&nbsp;</th>
		        <th>&nbsp;</th>
		      </tr>
		    </thead>
		    <tbody>
		      <% @past_shifts_i.each do |shift| %>
		        <tr>
		          <td><%= link_to shift.assignment.employee.name, employee_path(shift.assignment.employee) %></td>
		          <td><%= shift.date %></td>
		          <td><%= shift.start_time.strftime("%I:%M %p") %></td>
		          <td>
		            <div id = "add-button">
			            <%= link_to(shift_path(shift), class: 'button tiny radius warning') do %>
			              &nbsp;Add Jobs&nbsp;
			            <% end %>
			          </div>
          		  </td>
		          <td>
		            <%= link_to(image_tag("edit.gif"), edit_shift_path(shift)) %>
          		  </td>
          		   <td>
          		   	<%= link_to(image_tag("trash.gif"), shift_path(shift), method: 'delete', data: {confirm: "Are you sure you want to permanently delete this shift?"}) %>
				
          		  </td>
		        </tr>
		      <% end %>
		    </tbody>
	  </table>
	 </div>
	 <%end%>
	<p>&nbsp;</p>

	<div class="small-4 columns">
		<h4>COMPLETED SHIFTS</h4>
	</div>
	
	<div class="small-8 columns">
		<table class="table table-striped">
		    <thead>
		      <tr>
		        <th>Employee</th>
		        <th>Date</th>
		        <th>Start time</th>
		        <th>&nbsp;</th>
		        <th>&nbsp;</th>
		        <th>&nbsp;</th>
		      </tr>
		    </thead>
		    <tbody>
		      <% @past_shifts_c.each do |shift| %>
		        <tr>
		          <td><%= link_to shift.assignment.employee.name, employee_path(shift.assignment.employee) %></td>
		          <td><%= shift.date %></td>
		          <td><%= shift.start_time.strftime("%I:%M %p") %></td>
		          <td>
		           		<div id = "add-button">
				            <%= link_to(shift_path(shift), class: 'button tiny radius warning') do %>
				              &nbsp;Add Jobs&nbsp;
				            <% end %>
			          	</div>
          		  </td>
		          <td>
		            <%= link_to "edit", edit_shift_path(shift) %>
          		  </td>
          		   <td>
				    <%= link_to "del", shift_path(shift), method: 'delete', data: {confirm: "Are you sure you want to permanently delete this shift?"} %>
          		  </td>
		        </tr>
		      <% end %>
		    </tbody>
	  </table>
	 </div>
	</div>