<d
<%= simple_form_for @shift, html: { class: 'form-horizontal' } do |f| %>

<div id = "form">
  <fieldset>
    <h3><%= controller.action_name.capitalize %> Shift</h3>
    <%= f.input :assignment_id, :collection => Assignment.current.for_store(@store).by_employee, :label_method => lambda { |n| "#{n.employee.name}"}, input_html: {class: "avg"} %>

    <%= f.input :date, :label => "Start Date", as: :string, input_html: {class: "avg datepicker"} %>
    <%= f.input :start_time, input_html: {class: "avg"} %>
    <%= f.input :end_time, input_html: {class: "avg"} %>
    <%= f.input :notes, input_html: {class: "avg"} %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'button radius' %>
      <%= link_to 'Cancel', shift_path(@shift), :class => 'button alert radius' %>
    </div>
  </fieldset>
</div>


<% end %>



