<div class="inner">
<div class="image-holder">
	<%= link_to image_tag('shift.gif', class:"img2") %>
</div>

<%= form_with(model: @shift, local: true) do |f| %>

    <h3><%= controller.action_name.capitalize %> Shift</h3>
    
      <div class="form-wrapper">
            <%= f.label :assignment_id %><br>
    <%= f.select :assignment_id, :collection => Assignment.current.for_store(@store).by_employee, :class => "form-control" %>
  </div>

      <div class="form-wrapper">
            <%= f.label :date %>
    <%= f.date_field :date, :label => "Start Date", as: :string,  :class => "form-control" %>
  </div>
    
          <div class="form-wrapper">	
              <%= f.label :start_time %>
    <%= f.time_field :start_time, :class => "form-control" %>
  </div>
    
          <div class="form-wrapper">	
              <%= f.label :end_time %>
    <%= f.time_field :end_time, :class => "form-control"%>
  </div>

    <div class="actions">
      <%= f.submit nil, :class => 'button btn-dark' %>
      <%= link_to 'Cancel', shifts_path, :class => 'btn btn-danger' %>
    </div>



<% end %>


</div>
