<div class="inner2">
<div class="image-holder">
	<%= link_to image_tag('shift.gif', class:"img2") %>
</div>

	<%= simple_form_for @shift, html: { class: 'form-horizontal' }, remote: true do |f| %>
	
	
	  <% if @shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shift.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @shift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



	  <fieldset>

    <h3><%= controller.action_name.capitalize %> Shift</h3>
          <div class="form-wrapper" >
    <%= f.input :assignment_id, collection: Assignment.current.ids %>
  </div>

      <div class="form-wrapper">
            <%= f.label :date %>
    <%= f.date_field :date, :label => "Start Date", as: :string,  :class => "form-control" %>
  </div>
    
          <div class="form-wrapper">	
              <%= f.label :start_time %>
    <%= f.time_field :start_time, :class => "form-control" %>
  </div>
    
          <div class="form-wrapper">	
              <%= f.label :end_time %>
    <%= f.time_field :end_time, :class => "form-control"%>
  </div>

    <div class="actions">
      <%= f.submit nil, :class => 'button btn-dark' %>
      <%= link_to 'Cancel', shifts_path, :class => 'btn btn-danger' %>
    </div>

</fieldset>

<% end %>


</div>
