<div id="shift_form">
    <%= simple_form_for @shift, html: { :class => 'form-horizontal' }, remote: true do |f| %>
    <% f.input :assignment_id, input_html: {value: params[:assignment_id]} %>
    <% if logged_in? and current_user.role? :admin %>
    <%= f.input :assignment_id, :collection => Assignment.current.by_employee, :label_method => lambda { |n| "#{n.employee.name} (#{n.store.name})" }, input_html: {class: "avg"} %>
    <% else %>
    <%= f.input :assignment_id, :collection => Assignment.current.for_store(@store).by_employee, :label_method => lambda { |n| "#{n.employee.name}" }, input_html: {class: "avg"} %>
    <% end %>
    <%= f.input :date, :label => "Start Date" %>
    <%= f.input :start_time, input_html: {class: "avg"} %>
    <p>&nbsp;</p>
    <div class="form-actions">
        <%= f.submit nil, class: 'button tiny radius' %>
    </div>
    <% end %>
</div>