<div class = "row">
  <div class = "small-12 columns">
<% if @incomplete_shifts.empty? %>
  <p><em>There are no incomplete shifts at this time.</em></p>
<% else %>
  <br/>
  <h2>Incomplete Shifts</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="225">Employee Name</th>
        <th width="225">Store</th>
        <th width="225">Date</th>
        <th width="225">Start Time</th>
        <th width="225">End Time</th>
        <th width="75">&nbsp;</th>
        <th width="75">&nbsp;</th>
        
      </tr>
    </thead>
    <tbody>
      <% @incomplete_shifts.each do |shift| %>
        <tr>
          <td><%= link_to shift.assignment.employee.proper_name, employee_path(shift.assignment.employee) %></td>
          <td><%= link_to shift.assignment.store.name, store_path(shift.assignment.store) %></td>
          <td><%= shift.date.strftime("%m/%d/%y") %></td>   
          <td><%= shift.start_time.localtime.strftime("%I:%M %p") %></td>   
          <td><%= shift.end_time.localtime.strftime("%I:%M %p") %></td>     
          <td>
            <%= link_to(image_tag("edit.gif"), edit_shift_path(shift)) %>
          </td>
          <td>
            <div id = "add-button">
            <%= link_to(shift_path(shift), class: 'button tiny radius warning') do %>
              &nbsp;View Details&nbsp;
            <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @incomplete_shifts, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next", param_name: "incomplete_shifts" %> <p>&nbsp;</p>
<% end %>
</div>
</div>