<br/>
<h2><%= @shift.assignment.employee.proper_name %> | <%= @shift.assignment.store.name %></h2>
<br/>
<div class="row">
  
  <%= render partial: "shift_details" %>
  
  <% if logged_in? and current_user.role? :employee %>
  <div class="small-7 columns">
    <div id = "back-button">
      <%= link_to(employee_shifts_path, class: 'button radius') do %>
      &nbsp;<%= "SEE ALL SHIFTS" %>
      <% end %>
    </div>
  </div>
  <% end %>
  <% if logged_in? and !current_user.role? :employee %>
  <div class="small-7 columns">
    <div class="form-actions">
      &nbsp;&nbsp;
      
      <%= link_to(edit_shift_path(@shift), class: 'button radius') do %>
      &nbsp;<%= "Edit Shift" %>
      <% end %>
      &nbsp;&nbsp;
    </div>
  </div>
  <% end %>
</div>