<!DOCTYPE html>
<html>
  <head>
    <title>A&M Creamery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
    <!-- Bootstrap Core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
  <!-- Custom CSS -->
  <link href="https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/css/stylish-portfolio.min.css" rel="stylesheet">
  <link rel="stylesheet" href="application.css.scss">
  
  </head>

<!--     IF USER IS LOGGED IN THEN SHOW NAVIGATION -->
  <% if logged_in? %>
    <% if current_user.employee.role== "manager" %>
      <%= render :partial => "partials/nav_manager" %>
    <% elsif current_user.employee.role== "employee" %>
      <%= render :partial => "partials/employee_nav" %>
    <% elsif current_user.employee.role== "admin" %>
      <%= render :partial => "partials/admin_nav" %>
    <%end%> 
    
  <% else %>
    <%= render  "layouts/navbar" %>
  <%end%> 
  
  

<br>

<body id="page-top">     

     
      		<%= yield  %>
 
      		<%= yield :sidebar %>
    
      
		
		

		

		<div id = "footer-wrapper" class="footer">
			<%=  render :partial  => "partials/footer" %>
		</div>
		

		


		
  </body>
</html>
